@media (max-width: 480px){
    .agileinfo_footer_bottom1 p {
        font-size: 6px!important;
        line-height: 0px!important;
    }
}
@media (max-width: 414px){
    .agileinfo_footer_bottom1 {
        bottom: 0;
        width: 100%;
    }
}